<h2>List of Reports</h2>
<ul class="heroes">
  <li *ngFor="let report of reportList"
    [class.selected]="report === selectedReport"
    (click)="onSelect(report)">
    <span class="badge">{{report.id}}</span> {{report.name}}
  </li>
</ul>

<div *ngIf="selectedReport">

  <h2>{{selectedReport.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedReport.id}}</div>
  <div>
    <label>name:
      <!--<input [(ngModel)]="selectedReport.name" placeholder="name"/>-->
    </label>
  </div>

</div>